
/*Banner*/

.banner_bg{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("/image/banner_bg.jpeg");
    background-size: cover;
    background-position: center;
}

.banner_bg h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    position: relative;
    top: 50%;
}

.banner_bg h1 span{
    color: #facc22;
    margin-left: 15px;
}
/*Seach*/
/* Form style */
.formseach {
    outline: 2px solid #3e3030;
    transform: translate(340%, 100%);
    width: 300px;
    display: flex;
    background-color: #e5e5e5;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Input style */
input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Button style */
button {
    background-color: #facc22;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a9e;
}

/* FontAwesome Icon style */
button i {
    font-size: 18px;
}



/*Menu*/

.menu{
    width: 100%;
    padding: 10px 0 20px 0;
}

.menu .menu_box{
    width: 95%;
    margin: 45px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 10px;
}

.menu .menu_box .menu_card{
    background-image: url("/image/menu_card_bg.png");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 450px;
    height: 575px;
    cursor: pointer;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.menu .menu_box .menu_card .menu_img{
    margin: 0 auto;
    width: 420px;
    height: 300px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.menu .menu_box .menu_card .menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu .menu_box .menu_card .menu_text h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.menu .menu_box .menu_card .menu_text p{
    line-height: 21px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 400px;
}

.menu .menu_box .menu_card .menu_text .menu_icon{
    color: #facc22;
    margin: 8px 0;
}

.menu .menu_box .menu_card .menu_text .price{
    font-weight: bold;
    font-size: 20px;
    padding: 8px 0;
    margin-left: 45px;
}

.menu .menu_box .menu_card .menu_text .price sub{
    margin-left: 5px;
    color: #6d6a6a;
    font-size: 13px;
}

.menu .menu_box .menu_card .menu_text .menu_btn{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #facc22;
    position: relative;
    top: 20px;
    transition: 0.3s;
    z-index: 5;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover{
    
    color: #fff;
}

.menu .menu_box .menu_card .menu_text .menu_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #facc22;
    transition: 0.3s;
    z-index: -1;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

.menu .menu_box .menu_card .menu_text .menu_btn i{
    margin-right: 8px;
}
.menu .menu_box .menu_card .menu_text .CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin:10px 155px;
  }
  
  .menu .menu_box .menu_card .menu_text .CartBtn .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .menu .menu_box .menu_card .menu_text .CartBtn  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .menu .menu_box .menu_card .menu_text .CartBtn:hover .IconContainer {
    background-color:  inherit;
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .menu .menu_box .menu_card .menu_text .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .menu .menu_box .menu_card .menu_text .CartBtn:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
    transition-duration: .1s;
  }
  
/*pagination*/
.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-btn {
    
    padding: 8px 12px;
    margin: 0 4px;
    color: #fff;
    background-color: #facc22;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.pagination-btn:hover {
    background-color: #facc22;
    color: #333;
}

.pagination span {
    display: inline;
    margin: 0 8px;
    font-size: 16px;
    color: #333;
}
/*Category*/
.category-filter {
    color: #000;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
}

.category-buttons button {
    color: #000;
    outline: 2px solid #3e3030;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background-color: #e5e5e5;;
    border-radius: 50px;
}

.category-buttons button.active {
    background-color: #facc22;
    color: #333;
}
.category-buttons button:hover {
    background-color: #facc22;
    color: #333;
}
@keyframes bounce-animation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}