@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --blue: #343de5;
    --red: rgb(255, 0, 0);
    --header-font: 'Oswald', serif;
    --grey: #787ba0;
}


.btnn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 20px;
    border: 1px solid rgb(85, 85, 85);
}
.btnn:not(.nav-btns button):hover{
    background-color: var(--blue);
    color: #fff;
    border-color: var(--blue);
}
.btnn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/* menu profile */
/* Tài khoản */
#btn-3:hover{
    color: #787ba0;
}
#btn-3:hover #subMenu {
    visibility: visible;
    opacity: 1;
}
#btn-3.active #subMenu {
    visibility: visible;
    opacity: 1;
}

.menu-profile{
    font-family: var(--header-font)!important;
    position: absolute;
    top: 125%;
    left: 50%;
    margin-left: -212px;
    background: var(--grey)!important;
    width: 250px;
    box-sizing: 0 5px 25px rbga(0, 0, 0, 0.1);
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu-profile::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: var(--grey)!important;
    transform: rotate(45deg);
}

.menu-profile h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 1.2em;
}
.menu-profile h3 span{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.menu-profile ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}
.menu-profile ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5s;
}
.menu-profile ul li:hover img{
    opacity: 1;
}
.menu-profile ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.menu-profile ul li:hover a{
    color: var(--blue)!important;
}
.profile-image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.input-file{
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}
